img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;

  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.gal{
    position: relative;
   top:80px;
}
.gallery {
  
  margin: 0 auto;
  padding-bottom: 50px;
   
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
 
}

.gallery > div > img {
  display: block;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}



.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.darkBG{
	background: #999;
}
.darkerBG{
	background: #666;
}
.darkestBG{
	background: #333;
}

.section-design{
    padding: 100px 0;
    background-color: transparent;
}
.section-prof{
    padding: 50px 0;
    background-color: #ffffff;
    text-shadow: 2px 1px black;
    background: url(../photography/prof.jpg) no-repeat center center;
    background-size: cover;

}

.section-graphic{
    padding: 500px 0;
    background-color: #f8f8f8;
}
.section-about{
    padding: 280px 0;
    
}
.section-disclaimer{
    padding: 5px 0;
    background-color: #f8f8f8;
    font-family: helvetica;
    text-shadow: 2px 1px black;
     background: url(../photography/prof.jpg) no-repeat center center;
    background-size: cover;
}
.land {
    position: relative;
    padding-top: 15%;
    padding-bottom: 5%;
}

.land2 {
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
}
.process2 {
    position: relative;
    padding-bottom: 40%;
    
}
.talign {
    position: relative;
    padding-top: 0%;
    padding-bottom: 5%;
    font-family: helvetica;
    font-size: 30px;
}
.align{
    position: absolute;
   bottom: 180px;
   }
.balign{
    position: absolute;
    top: 45px;
    text-shadow: 2px 1px black;
   }

.bg{
    background-color: #000000;
    width: 100%;
    height: 50px;
}
.bg2{
    background-color: #999;
    width: 100%;
    height: 50px;
}
.image {
    opacity: 0.1;
    filter: alpha(opacity=1); /* For IE8 and earlier */
}

.head {
   
    background-color: #fffff;
}
.fb{
    background-color: #3b5999;
}
.tw{
    background-color: #44bbff;
}
.ig{
    background-color: #4e433c;
}
.pin{
    background-color: #910101;
}
.white{
    background-color: #666;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #f8f8f8;
}
img:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
ul {
  list-style-type: none;
}
a {
    color: #A9A9A9 !important;
}
a:hover {
    text-decoration: none !important;
    color: white !important;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    margin: 0;

}
header {
    position:relative ;
    width:100% ;
    height: 75vh;
    background-color:#333 ;
    margin-bottom: 1000px ;
    overflow: hidden ;

}
.header-bg {
    position: relative;
    width:100%;
    height:100%;
}
.agency{
    font-size: 50px;
    color: white;
    font-family: agency fb;
    text-shadow: 0px 1px black;
}

.agency2{
    font-size: 20px;
    color: white;
    font-family: agency fb;
    text-shadow: 0px 1px black;
}
.quote{
    font-size: 40px;
    color: #333;
    font-family: helvetica;
    }
.me{
     padding: 10px 0;
    height: 250px;
    width: 250px;
    font-family: "Times New Roman", Times, serif;
}
.logoalign{
    padding:110px 0;
    z-index: -1;
}
.logo, .logo2,{
     -webkit-animation-duration: 0s;
    -webkit-animation-delay: 0.5s;
}
.logo{
    height: 200px;
    width: 200px;   
}
.logo2{
   padding: 20px 0;
    height: 200px;
    width: 200px;
}
.cam, .gra, .web{
     -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
}
.bg{
    background-color: white;
    background-size: 15%, 15%;
}
.photography{
    padding: 100px 0;
    font-family: century gothic;
    color: #FFFFFF;
}
.logodesign{
    padding: 100px 0;
    font-family: century gothic;
    color: white;
}
.webdesign{
    padding: 100px 0;
    font-family: century gothic;
    color: white;
}
.skills{
    padding: 50px 0;
}
.iconcam{
    height: 15px;
    width:  15px;
    padding: 15px 0;

}
.icongraph{
    
    height: 60px;
    width:  60px;
}
.padprogress{
    padding-top: 10px;
}

.field{
    padding: 130px;
    
}

.fstyle{
    font-family: century gothic;
}
.fontsize{
    font-size: 50px;
}
.spacing{
    letter-spacing: 5px;
}
.fontsize30{
    font-size: 15px !important;
    padding: 1px ;
    font-family: century gothic;

}
.pos{
    position: relative;
    bottom: 20px;
}
.socmedia{
    padding: 20px;
    color: white;
}
.progress {
    height: 25px !important; 
}
.progressalign{
    padding: 40px 0;
}
.progress-bar-gray
{
    background-color:#404040 !important;
}
.progress-bar-gray1
{
    background-color:#606060 !important;
}
.progress-bar-gray2
{
    background-color:#808080 !important;
}
.progress-bar-gray3
{
    background-color:#909090 !important;
}



.imgbg, .imgbgbar, .imgbg2, .imgbg3, .imgbg4{

    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   
}
.padding {
     background-color: white;
    /*  background-image: url("../logo/wm.jpg") ; */
    min-height: 700px;
     background-size: 15%, 15%;
    
}
.aboutme{
    padding: 50px 0;
    background-color: #dcdcdc;
    color: black;
    background-size: 100%, 100%;
    min-height: 900px;
}
.imgbg {
     background-color: white;
    /*  background-image: url("../logo/wm.jpg") ; */
    min-height: 800px;
     background-size: 15%, 15%;
    
}
.imgwh {
    background-color: white;
    min-height: 500px;
    background-size: 100%, 100%;
    
    
}
.imggr {
    padding-top: 100px;
    background-color: white;
    min-height: 800px;
    background-size: 100%, 100%;
    
    
}
.imgbg2 /* photography */ {
    background-image: url("../photography/web.jpg") ;
    min-height: 300px;
     background-size: 100%, 100%;
      
}
.imgbg3 /* logo design */ {
    background-image: url("../photography/web.jpg") ;
    min-height: 300px ;
    background-size: 100%, 100%;
}
.imgbg4 /* web design */ {
     background-image: url("../photography/web.jpg") ;
    min-height: 300px ;
    background-size: 100%, 100%;
}


.footer{
    background-color: #696969;
    min-height: 200px;
    background-size: 100%, 100%;
    font-family: century gothic;
    position: relative;

}
/*.footer:before{
    content:'';
    position: absolute;
    border-bottom: 150px solid #696969;
    border-left: 98.75vw solid transparent;
    top: -50px;

} */

@media only screen and (max-device-width: 1024px) {
     {
        background-attachment: scroll;
    }
h3{
    font-size: 20px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



