.tae{
	display:block;
	width:300px;
	margin: 0 auto;
	opacity: 0;
	transitions: all 200ms ease-in;
	padding-bottom: 200px;
}
.js-tae-animate {
	opacity: 1;
	animation: tae-jiggle 250ms linear;
}
@keyframes tae-jiggle{
	0%{
		transform: rotate(0);
	}
	30%{
		transform: rotate(15deg);
	}
	60%{
		transform: rotate(20deg);
	}
	100%{
		transform: rotate(0);
	}
}